body{
    background-color: yellow;
}

h1{
    text-align: center;
}

div{
    text-align: center;
    align-items: center;
}

#res{
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-left: 43%;
    margin-top: 30px;
    background-color: white;
    color: black;
}